<header>
    <div class="container">
        <a routerLink="/" class="logo">Hassan Restaurant</a>
        <nav>
            <ul>
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{ userName }}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a routerLink="/login" (click)="onLogout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a href="/cart">Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>