table {
    width: 100%;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: .5rem .5rem;
}

h3 {
    margin-top: .5rem;
    margin-left: .3rem;
    color: var(--primary-text-color);
}

a:hover {
    opacity: .9;
}

td {
    height: 3rem;
    color: var(--primary-text-color);
}

td img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    border-radius: 100rem;
}

.remove-item {
    border-radius: 1rem;
    border: none;
    padding: .5rem;
    color: #e72929;
    opacity: .7;
    outline: none;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}