<table>
    <tr>
        <td colspan="5">
            <h3>Order Items:</h3>
        </td>
    </tr>
    <ng-container *ngFor="let item of order.items">
        <tr>
            <td>
                <a routerLink="/food/{{item.food.id}}">
                    <img [src]="item.food.imageUrl" alt="image" />
                </a>
            </td>
            <td>
                {{ item.food.name }}
            </td>
            <td>
                {{ item.food.price | currency }}
            </td>
            <td>
                {{ item.quantity}}
            </td>
            <td>
                {{ item.price | currency }}
            </td>
        </tr>
        <div>
            <button class="remove-item" (click)="removeItem(item.food.id)">
                Remove
            </button>
        </div>
    </ng-container>
    <tr>
        <td colspan="3"></td>
        <td>
            <strong>
                Total : 
            </strong>
        </td>
        <td>
            <strong>
                {{ order.totalPrice | currency }}
            </strong>
        </td>
    </tr>
</table>