<section class="container">
    <div class="container__details">
        <app-title class="container__details__title" title="Register"></app-title>
        <p *ngIf="errorMsg" class="container__details__error">{{ errorMsg }}</p>
        <form class="container__form" [formGroup]="registerForm">
            <div class="container__form__input-container">
                <label>Name</label>
                <div class="container__form__inputs">
                    <input class="container__form__inputs__email" type="text" placeholder="Enter your Name" formControlName="name" [ngClass]="{'error': fc.name.errors && isSubmitted, 'valid': fc.name.valid}" />
                </div>

                <div class="error-list" *ngIf="fc.name.errors && isSubmitted">
                    <div *ngIf="fc.name.errors.required">Field is required</div>
                </div>
            </div>

            <div class="container__form__input-container">
                <label>Last Name</label>
                <div class="container__form__inputs">
                    <input class="container__form__inputs__email" type="text" placeholder="Enter your Last Name" formControlName="lastName" [ngClass]="{'error': fc.lastName.errors && isSubmitted, 'valid': fc.lastName.valid}" />
                </div>

                <div class="error-list" *ngIf="fc.lastName.errors && isSubmitted">
                    <div *ngIf="fc.lastName.errors.required">Field is required</div>
                </div>
            </div>
            <div class="container__form__input-container">
                <label>Address</label>
                <div class="container__form__inputs">
                    <input class="container__form__inputs__email" type="text" placeholder="Enter your Address" formControlName="address" [ngClass]="{'error': fc.address.errors && isSubmitted, 'valid': fc.address.valid}" />
                </div>

                <div class="error-list" *ngIf="fc.address.errors && isSubmitted">
                    <div *ngIf="fc.address.errors.required">Field is required</div>
                </div>
            </div>

            <div class="container__form__input-container">
                <label>Email</label>
                <div class="container__form__inputs">
                    <input class="container__form__inputs__email" type="email" placeholder="Enter your Email" formControlName="email" [ngClass]="{'error': fc.email.errors && isSubmitted, 'valid': fc.email.valid}" />
                </div>

                <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                    <div *ngIf="fc.email.errors.required">Field is required</div>
                    <div *ngIf="fc.email.errors.email">Email is not correct</div>
                    <div *ngIf="fc.email.errors.maxlength">Email should be less than 5</div>
                </div>
            </div>
            <div class="container__form__input-container">
                <label>Password</label>
                <div class="container__form__inputs">
                  <input class="container__form__inputs__password" 
                         [type]="isPasswordVisible ? 'text' : 'password'" 
                         placeholder="Enter your Password" 
                         formControlName="password" 
                         [ngClass]="{'error': fc.password.errors && isSubmitted, 'valid': fc.password.valid}" />
                  <div class="container__form__inputs__eye" (click)="togglePasswordVisibility('password')">
                    <img *ngIf="isPasswordVisible" src="../../../assets/icons/21032633001644650691.svg" alt="eye" />
                    <img *ngIf="!isPasswordVisible" src="../../../assets/icons/21260910731571183076.svg" alt="eye-slash" />
                  </div>
                  <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                    <div *ngIf="fc.password.errors.required">Field is required</div>
                  </div>
                </div>
              </div>
              
              <div class="container__form__input-container">
                <label>Confirm Password</label>
                <div class="container__form__inputs">
                  <input class="container__form__inputs__password" 
                         [type]="isConfirmPasswordVisible ? 'text' : 'password'" 
                         placeholder="Confirm your Password" 
                         formControlName="confirmPassword" 
                         [ngClass]="{'error': fc.confirmPassword.errors && isSubmitted, 'valid': fc.confirmPassword.valid}" />
                  <div class="container__form__inputs__eye" (click)="togglePasswordVisibility('confirmPassword')">
                    <img *ngIf="isConfirmPasswordVisible" src="../../../assets/icons/21032633001644650691.svg" alt="eye" />
                    <img *ngIf="!isConfirmPasswordVisible" src="../../../assets/icons/21260910731571183076.svg" alt="eye-slash" />
                  </div>
                  <div class="error-list" *ngIf="fc.confirmPassword.errors && isSubmitted">
                    <div *ngIf="fc.confirmPassword.errors.required">Field is required</div>
                  </div>
                </div>
            </div>
        </form>
        <div class="container__form__button">
            <button class="container__form__button__login-btn" (click)="onSubmit()" type="submit">Register</button>
            <div class="container__form__already_user">
                Already a User? <a class="container__form__already_user-login" routerLink="/login">Login</a>
            </div>
        </div>
    </div>
</section>