<app-search></app-search>
<app-tags></app-tags>
<app-notfound
    [isVisible]="!foods || !foods.length"
    resetLinkText="Reset Search"
></app-notfound>
<ul>
    <ng-container *ngFor="let food of foods">
        <li>
            <a routerLink="/food/{{ food.id }}">
                <div class="img__container">
                    <img [src]="food.imageUrl" [alt]="food.name" />
                </div>
            </a>
                <div class="content">
                    <div class="name">
                        {{ food.name }}
                    </div>
                    <button (click)="toggleFavorite(food)" class="favorite {{ food.favorite ? '' : 'not' }}">
                        &#10084; 
                    </button>
                    <div class="product-item-footer">
                        <div class="origins">
                            <span *ngFor="let origin of food.origins">
                                {{ origin }}
                            </span>
                        </div>
    
                        <div class="cook-time">
                            <span>🕒</span>
                            {{ food.cookTime }}
                        </div>
                    </div>
    
                    <div class="price">
                        <span>
                            {{ food.price | currency }}
                        </span>
                    </div>
                </div>
        </li>
    </ng-container>
</ul>