.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background-color: hsl(0, 34%, 49%);
    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        margin: 4.7rem;
        border: 1px solid #e72929;
        border-radius: 2rem;
        background-color: #ecc5c5;
        height: 100%;
        &__title {
            margin-bottom: 3rem;
        }

        &__error {
            color: white;
            background-color: red;
            padding: 1rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        text-align: center;

        &__inputs {
            &__email {
                padding: .7rem 2rem;
                border-radius: 2rem;
                border: 1px solid transparent;
                margin-top: 1rem;
                outline: none;
                transition: border .3s ease-in-out;
                &:focus {
                    border: 1px solid #e72929;
                }
                &.error {
                    border: 1px solid red;
                }
                &.valid {
                    border: none;
                }
            }
        }
        &__button {
            text-align: center;
            margin-top: 1rem;
            &__login-btn {
                padding: .5rem 1.5rem;
                border: none;
                border-radius: .5rem;
                &:hover {
                    padding: .5rem 2rem;
                    transition: .3s ease-in-out, transform .3s ease-in-out;
                    color: white;
                    background-color: #e72929;
                    cursor: pointer;
                }
            }
        }
    }
}