<section class="container">
    <div class="container__details">
        <app-title class="container__details__title" title="Reset Password"></app-title>
        <form class="container__form" [formGroup]="resetPasswordForm">
            <div class="container__form__input-container">
                <div class="container__form__inputs">
                    <input class="container__form__inputs__email" type="email" placeholder="Enter your Email" formControlName="email" [ngClass]="{'error': fc.email.errors && isSubmitted, 'valid': fc.email.valid}" />
                </div>
            </div>
            <div class="container__form__button">
                <button class="container__form__button__login-btn" (click)="onResetLink()" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</section>