/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/css2?family=Quicksand&display=swap";

* {
    box-sizing: border-box;

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    --primary-bg-color: #fff;
    --primary-text-color: #000;
    --primary-bg-img: transparent;
    --primary-login-bg-color: hsl(0, 34%, 49%);
    --primary-login-bg-form: #ecc5c5;
    --primary-info-color: #af1313;
    &.dark-mode {
        background-color: #161a1e;
        --primary-bg-color: #161a1e;
        --primary-text-color: #FFD369;
        --primary-bg-img: transparent;
        --primary-login-bg-color: #111a27;
        --primary-login-bg-form: #615757;
        --primary-info-color: #af1313;
    }
}

html {
    font-size: 16px;
}

html,
button {
    font-family: "Quicksand", "sans-serif";
}

a {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}